
hr{
  border:0;
  height:1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) rgba(0, 0, 0, 0));
}

a{
  text-decoration: none;
  display: block;
}

/*BORDER ABOUT*/
  .about-border{
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0px 0px rgba(0,0,0,0.30), 0 8px 19px rgba(0,0,0,0.22);
    padding: 15px;
    height: 400px;
    width: auto;
  }

@media (max-width: 991px;){
  .about-border{
    border-radius: 10px;
    background-color: #ffffff;
    padding: 15px;
    height: 800px;
    width: auto;
  }  
}
/*END BORDER ABOUT*/

/*BORDER LOCATION*/
  .location-border{
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0px 0px rgba(0,0,0,0.30), 0 8px 19px rgba(0,0,0,0.22);
    padding: 10px 10px 10px 10px;
    height: 460px;
    width: auto;
  }

@media (max-width: 991px;){
  .location-border{
    border-radius: 10px;
    background-color: #ffffff;
    padding: 5px;
    height: 800px;
    width: auto;
  }  
}
/*END BORDER ABOUT*/


/*PROSER SECTION*/
  
@media (min-width: 992px){
  .col-proser{
    width: 20%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .mg-left-8-service{
    margin-left: 8px;
  }

  .mg-left-24-service{
    margin-left: 24px;
  }

  .mg-left-32-service{
    margin-left: 32px;
  }

  .pd-left-0-service{
    padding-left: 0px;
  }
}

/*BORDER PRODUCT*/

  .product-border{
    border-radius: 10px;
    background-color: #000000;
    /*box-shadow: 2px 2px 5px 2px #d9d9d9;*/
    padding: 15px;
    height: auto;
    width: 300px;
  }

  .product-border-5{
    border-radius: 10px;
    background-color: #000000;
    padding: 15px;
    height: auto;
    width: 200px;
  }

@media (max-width: 991px){
  .product-border{
    border-radius: 10px;
    background-color: #000000;
    /*box-shadow: 2px 2px 5px 2px #72767a;*/
    padding: 15px;
    height: 470px;
    width: 300px;
    display: block;
  }

  .product-border-5{
    border-radius: 10px;
    background-color: #000000;
    /*box-shadow: 2px 2px 5px 2px #72767a;*/
    padding: 15px;
    height: 470px;
    width: 300px;
    display: block;
  }

  .mg-top-146-service{
    margin-top: 146px;
  }

}

/*BORDER NEWS*/

.news-border{
  border-radius: 5px;
  background-color: #000;
  box-shadow: 2px 2px 5px 2px #72767a;
  padding: 10px;
  height: 215px;
  width: 500px;
}

@media (max-width: 991px){
.news-border{
  border-radius: 5px;
  background-color: #000;
  box-shadow: 2px 2px 5px 2px #72767a;
  padding: 10px;
  height: auto;
  width: 500px;
}
}

@media (max-width: 768px){
.news-border{
  border-radius: 5px;
  background-color: #000;
  box-shadow: 2px 2px 5px 2px #72767a;
  padding: 10px;
  height: auto;
  width: 500px;
}  
}

@media (max-width: 768px){
.news-border{
  border-radius: 5px;
  background-color: #000;
  box-shadow: 2px 2px 5px 2px #72767a;
  padding: 10px;
  height: auto;
  width: auto;
}  
}

.img-news{
  color: #D60B27;
  /*font-size: 50px;*/
  width: 94%;
  height: 145px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 8px;
}

@media (max-width: 998px){

}

.white-text{
  color: white;
  font-family: roboto;
}

.send-button {
    height: 40px;
    width: 150px;
    background-color: #AF0606;
    border-radius: 5px;
}

.send-button:hover {
    height: 40px;
    width: 150px;
    background-color: #000;
    border-radius: 5px;
}

div.sticky{
  position: sticky;
}

/*SECTION POSITION*/

  .section-position{
    padding: 0px 15px 30px 15px;
    height: 700px;
    /*width: 100vw;*/
    /*display: block;*/
    /*background-color: #111111;*/
  }

@media screen and (max-width:998px) {
    .section-position{
      padding: 0px 15px 30px 15px;
      height: auto;
      /*background-color: #111111;*/
    }
}
  

/*END SECTION POSITION*/
 .responsive{
  width: 100%;
  height: auto;
 }

 .center{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
 }

/*LOADER*/

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}


#bendera{
  width: 35px;
  height: 35px;

}

.pull-right{
  float: left;
}


.tombol{
  color: #222;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: .2em;
  -webkit-transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-size: 0.875em;
  width: 140px;
  text-align: center;
  padding: 10px 15px;
}

.tombol:hover{
  letter-spacing: 0;
  color: white
}

.tombol:after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #6284FF;
  z-index: -1;
  -webkit-transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.tombol:hover:after{
  height: 100%;
}

/* Merchandise Menu */
.aikon{
	color: #D60B27;
  	font-size: 50px;
    width: 150px;
    height: 125px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #fff;
}

.image {
  width: 100%;
  height: auto;
}

.img-cover:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.box{
  border-width: thin;
  border-style: solid;
  border-color: #ff0000;
}

/* Product & Service Menu */
.collapsible{
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.product-underline {
    border: 1px solid #3C3A3A;
    margin-top: 3px;
}

.naik:hover{
  color: #D60B27;
}

.zoom-effect:hover {
  -webkit-transform: scale(1.28);
  transform: scale(1.28);
}

.zoom-effect-border:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

/*start news*/
.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  /*box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);*/
  box-shadow: 0 0px 0px rgba(0,0,0,0.30), 0 8px 19px rgba(0,0,0,0.22);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: #5ad67d;
}
.blog-card:hover .photo {
  -webkit-transform: scale(1.3) rotate(3deg);
          transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}

.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: #d60b27;
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin .3s, opacity .3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
/*.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #d60b27;
  width: 90px;
  top: -0.75rem;
  border-radius: 3px;
}*/
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 550px;
    border-radius: 12px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    -webkit-transform: skewX(-3deg);
            transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  
}

/*end news*/

/*start about*/
.column-about {
  float: left;
  width: 50%;
  padding: 42px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row-about{
  box-shadow: 0 0px 0px rgba(0,0,0,0.30), 0 8px 19px rgba(0,0,0,0.22);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 12px;
  overflow: hidden;
}

.row-about:after {
  content: "";
  display: table;
  clear: both;
}

.ab-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  /*box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);*/
  box-shadow: 0 0px 0px rgba(0,0,0,0.30), 0 8px 19px rgba(0,0,0,0.22);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.ab-card a {
  color: inherit;
}
.ab-card a:hover {
  color: #5ad67d;
}
.ab-card .ab-description {
  padding: 2rem;
  background: #fff;
  position: relative;
  z-index: 1;
}

.ab-card .ab-description h1,
.ab-card .ab-description h2 {
  font-family: Poppins, sans-serif;
}
.ab-card .ab-description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.ab-card .ab-description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.ab-card p {
  position: relative;
  margin: 1rem 0 0;
}
.ab-card p:first-of-type {
  margin-top: 1.25rem;
}

@media (min-width: 640px) {
  .ab-card {
    flex-direction: row;
    /*max-width: 550px;*/
    border-radius: 12px;
  }
  .ab-card .ab-description {
    flex-basis: 60%;
  }
  .ab-card .ab-description:before {
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  
}

@media screen and (max-width: 640px) {
  .column-about {
    float: left;
    width: 100%;
    padding: 42px;
  }
}
/*end about*/

/*start location*/
.column-lc {
  float: left;
  width: 50%;
  padding: 42px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row-lc{
  box-shadow: 0 0px 0px rgba(0,0,0,0.30), 0 8px 19px rgba(0,0,0,0.22);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 12px;
  overflow: hidden;
}

.row-lc:after {
  content: "";
  display: table;
  clear: both;
}

.lc-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  /*box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);*/
  box-shadow: 0 0px 0px rgba(0,0,0,0.30), 0 8px 19px rgba(0,0,0,0.22);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.lc-card a {
  color: inherit;
}
.lc-card a:hover {
  color: #5ad67d;
}
.lc-card .lc-description {
  padding: 2rem;
  background: #fff;
  position: relative;
  z-index: 1;
}

.lc-card .lc-description h1,
.lc-card .lc-description h2 {
  font-family: Poppins, sans-serif;
}
.lc-card .lc-description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.lc-card .lc-description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.lc-card p {
  position: relative;
  margin: 1rem 0 0;
}
.lc-card p:first-of-type {
  margin-top: 1.25rem;
}

@media (min-width: 640px) {
  .lc-card {
    flex-direction: row;
    /*max-width: 550px;*/
    border-radius: 12px;
  }
  .lc-card .lc-description {
    flex-basis: 60%;
  }
  .lc-card .lc-description:before {
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  
}

@media screen and (max-width: 640px) {
  .column-lc {
    float: left;
    width: 100%;
    padding: 42px;
  }
}
/*end location*/

/* style untuk link popup */
  a.popup-link {
    padding:17px 0;
    text-align: center;
    margin:7% auto;
    position: relative;
    width: 300px;
    color: #fff;
    text-decoration: none;
    background-color: #FFBA00;
    border-radius: 3px;
    box-shadow: 0 5px 0px 0px #eea900;
    display: block;
  }
  a.popup-link:hover {
    background-color: #ff9900;
    box-shadow: 0 3px 0px 0px #eea900;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
  }
  /* end link popup*/

  /*style untuk popup */  
  #popup {
    visibility: hidden;
    opacity: 0;
    margin-top: -200px;
  }
  #popup:target {
    visibility:visible;
    opacity: 1;
    background-color: rgba(255,255,255,0.8);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    z-index: 99999999999;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
  }

  @media (min-width: 768px){
    .popup-container {
      width:600px;
    }
  }
  @media (max-width: 767px){
    .popup-container {
      width:100%;
    }
  }
  .popup-container {
    position: relative;
    margin:7% auto;
    padding:30px 50px;
    background-color: #333;
    color:#fff;
    border-radius: 3px;
  }

  a.popup-close {
    position: absolute;
    top:3px;
    right:3px;
    background-color: #fff;
    padding:7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color:#333;
  }

  /* style untuk isi popup */
  .popup-form {
    margin:10px auto;
  }
    .popup-form h2 {
      margin-bottom: 5px;
      font-size: 37px;
      text-transform: uppercase;
    }
    .popup-form .input-group {
      margin:10px auto;
    }
      .popup-form .input-group input {
        padding:17px;
        text-align: center;
        margin-bottom: 10px;
        border-radius:3px;
        font-size: 16px; 
        display: block;
        width: 100%;
      }
      .popup-form .input-group input:focus {
        outline-color:#FB8833; 
      }
      .popup-form .input-group input[type="email"] {
        border:0px;
        position: relative;
      }
      .popup-form .input-group input[type="submit"] {
        background-color: #FB8833;
        color: #fff;
        border: 0;
        cursor: pointer;
      }
      .popup-form .input-group input[type="submit"]:focus {
        box-shadow: inset 0 3px 7px 3px #ea7722;
      }
  /* end isi form */

/*POPUP*/
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
/*END POP UP*/