@media (max-width: 991px) {

	body {
		padding-top: 0 !important;
	}

	/* Header */
	header {
		position: relative;
	}

	header .container {
		width: auto;
	}

	header div.cart {
		display: none;
	}

	/* Navigation */
	header div.nav-main-collapse,
	header div.nav-main-collapse.in {
		width: 100%;
		overflow: hidden;
		overflow-y: hidden;
		overflow-x: hidden;
	}

	header div.nav-main-collapse {
		float: none;
		margin: 0;
	}

	header nav.nav-main ul.nav-main {
		float: none;
		position: static;
		margin: 8px 0;
	}

	header div.nav-main-collapse.collapse {
		display: none !important;
	}

	header div.nav-main-collapse {
		top: 8px;
		position: relative;
	}

	header div.nav-main-collapse.in {
		display: block !important;
	}

	header div.nav-collapse div.container nav.nav-main {
		float: left;
		width: 100%;
	}

	header div.nav-main-collapse {
		background: #fff;
		border-top:1px solid #e0e0e0;
		max-height: none;
		margin: 65px -15px 8px -15px !important;
		max-height: none;
		padding: 0 15px;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	}

	header div.nav-main-collapse > nav {
		padding-left: 15px;
		padding-right: 6px;
	}
	
	/*nav-user*/
	header div.nav-user-collapse,
	header div.nav-user-collapse.in {
		width: 100%;
		overflow: hidden;
		overflow-y: hidden;
		overflow-x: hidden;
	}

	header div.nav-user-collapse {
		float: none;
		margin: 0;
	}

	header div.nav-user-collapse.collapse {
		display: none !important;
	}

	header div.nav-user-collapse {
		top: 8px;
		position: relative;
	}

	header div.nav-user-collapse.in {
		display: block !important;
	}

	header div.nav-user-collapse {
		background: #fff;
		border-top:1px solid #e0e0e0;
		max-height: none;
		margin: 65px -15px 8px -15px !important;
		max-height: none;
		padding: 0 15px;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	}

	header div.nav-user-collapse > nav {
		padding-left: 15px;
		padding-right: 6px;
	}
	/*end nav-user*/

	header > div.container {
		margin-bottom: 0;
	}

	header nav ul.nav-main {
		margin-right: -10px;
	}

	header div.nav-collapse {
		background: #2D343E;
		width: 100%;
		clear: both;
		width: 100%;
	}

	header nav.nav-main {
		padding: 0;
		clear: both;
		display: block;
		float: none;
		width: 100%;
	}

	header nav.nav-main ul,
	header nav.nav-main ul li {
		padding: 0;
		margin: 0;
	}

	header nav.nav-main ul li {
		clear: both;
		float: none;
		display: block;
		border-bottom: 1px solid #e0e0e0;
	}

	header nav ul.nav-main > li + li {
		margin-left: 0;
	}

	header nav ul.nav-main li a,
	header nav ul.nav-main ul.dropdown-menu li > a {
		padding: 9px 15px 9px 28px;
		border: 0;
		border-top: 0;
		margin: 0;
	}

	header nav.nav-main ul li:last-child,
	header nav ul.nav-main ul.dropdown-menu li > a {
		border-bottom: none;
	}

	header nav ul.nav-main li.dropdown:hover > a {
		margin-bottom: -2px;
	}

	header nav ul.nav-main li a {
		color: #FFF;
		clear: both;
		float: none;
		display: block;
		padding-left: 0;
	}

	header nav ul.nav-main li a i.icon-angle-down {
		position: absolute;
		right: 5px;
		top: 10px;
	}

	header nav.nav-main ul ul {
		margin-left: 20px !important;
	}

	header nav.nav-main ul.dropdown-menu {
		position: static;
		clear: both;
		float: none;
		display: none !important;
	}

	header nav ul.nav-main ul.dropdown-menu {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	header nav.nav-main li.resp-active > ul.dropdown-menu {
		display: block !important;
	}

	header nav ul.nav-main ul.dropdown-menu ul.dropdown-menu {
		border: 0;
		margin: 0 5px;
		padding-left: 35px;
	}

	header nav ul.nav-main .dropdown-submenu > a:after {
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #FFF;
	}

	header nav ul.nav-main .dropdown-submenu:hover > a:after {
		border-left-color: transparent;
	}

	body header nav ul.nav-pills > li > a:before,
	body header nav ul.nav-main li.dropdown:hover > a:after {
		display: none;
	}

	body header nav ul.nav-main i.icon-caret-down {
		float: right;
		top: 12px;
		font-size: 24px;
	}

	body header nav ul.nav-main ul.dropdown-menu,
	body header nav ul.nav-main li.dropdown.open a.dropdown-toggle,
	body header nav ul.nav-main li a,
	body header nav ul.nav-main li.active a,
	body header nav ul.nav-main li.dropdown:hover a,
	body header nav ul.nav-main ul.dropdown-menu li:hover > a,
	body header nav ul.nav-main li.dropdown:hover ul.dropdown-menu li > a:hover {
		background: none !important;
		background-color: transparent !important;
		color: #87919F !important;
	}

	header.center nav ul.nav-main > li {
		display: block;
	}

	header nav ul.nav-main ul.sub-menu {
		padding: 0;
		margin: 0 0 10px 0;
	}

	header nav ul.nav-main ul.sub-menu ul.sub-menu {
		margin-top: 10px;
	}

	header nav ul.nav-main i.icon-caret-down {
		color: #999 !important;
	}

	/* Responsive Button Nav */
	button.btn-responsive-nav {
		background: none;
		top: 10px;
		display: block;
		position: absolute;
		right: 15px;
		color: #fff;
		font-size:20px;
	}

	button.btn-responsive-nav:hover,
	button.btn-responsive-nav:active,
	button.btn-responsive-nav:focus {
		color: #222;
		outline:none;
	}

	/* Logo */
	header h1.logo {
		border: 0;
		margin-bottom: 0;
	}

	header h1.logo img {
		max-width: 120px;
		margin-bottom: 10px;
		text-align: center;
	}

	header.center h1.logo {
		text-align: left;
	}

	/* Nav Top */
	header div.header-top ul.nav-top {
		float: left;
		margin: 7px 0 0 -15px;
		min-height: 5px;
	}

	/* Search  */
	header div.search {
		display: none;
	}

	/* Thumb Info */
	a.thumb-info span.thumb-info-title {
		font-size: 14px;
	}

	a.thumb-info span.thumb-info-more {
		font-size: 11px;
	}

	/* Featured Boxes */
	div.featured-boxes.secundary div.featured-box,
	div.featured-boxes.tertiary div.featured-box {
		margin-bottom: 35px;
	}

	/* Portfolio */
	div.portfolio-title div.portfolio-nav {
		display: none;
	}

	/* Misc */
	.thumbnail {
		border: 0;
	}

	/* Footer Phone */
	footer span.phone {
		font-size: 20px;
	}

	/* Scroll to Top */
	a.scroll-to-top {
		display: none !important;
	}

}

@media (max-width: 767px) {

	/* Misc */
	.center-sm {
		text-align: center;
	}

	/* Boxed */
	body.boxed {
		background: none !important;
	}

	body.boxed div.body {
		border: 0;
		border-bottom: 0;
		border-top: 0;
		box-shadow: none;
		margin: 0;
		width: auto;
	}

	body.boxed header {
		padding: 5px 20px 15px 20px !important;
	}

	/* Header */
	header {
		display: block;
	}

	header > div.container {
		width: 100%;
	}
	
	/* Navigation */
	header.center nav {
		width: auto;
	}

	header nav ul.nav-top {
		float: right;
		margin-right: 0;
	}

	/* Sort */
		.sort-destination,
	.isotope-item {
		margin-left: auto !important;
		margin-right: auto !important;
		max-width: 520px;
	}

	.sort-destination.full-width,
	.sort-destination.full-width .isotope-item {
		max-width: none;
	}

	/* Pricing Tables */
	div.pricing-table {
		margin-left: 0px;
	}

	div.pricing-table div.plan {
		margin-right: 0;
	}

	/* Map */
	div.map-overlay {
		margin-top: 0;
	}

	div.google-map {
		margin-top: -62px;
	}

	/* Masonry */
	.masonry-list {
		margin: 0 2% !important;
		width: 96% !important;
	}

	.masonry-list.full {
		margin: 0 3% !important;
		width: 93% !important;
	}

	.masonry-list .masonry-item {
		float: none !important;
		width: auto !important;
		margin: 0 0 25px 0 !important;
		position: static !important;
	}

	/* Footer Phone */
	footer span.phone {
		font-size: 20px;
	}

}

@media (max-width: 479px) {

	/* Base */
	body {
		font-size: 13px;
		background-color: #ffffff;
	}

	h2 {
		line-height: 40px;
	}

	/* Nav */
	.nav-tabs > li {
		float: none;
	}

	/* Arrow */
	span.arrow {
		display: none;
	}

	/* Navigation */
	header nav ul.nav-top,
	header div.header-top {
		display: none;
	}

	/* Blog */
	article.post-large-image div.post-image,
	article.post-large-image div.post-date,
	article.post-large-image {
		margin-left: 0;
	}

	/* Featured Boxes */
	div.featured-boxes div.featured-box {
		max-width: none;
	}

	/* Sort */
	.sort-destination,
	.isotope-item {
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.sort-destination.full-width {
		margin-top: -35px;
	}

	.sort-destination.full-width .isotope-item {
		position: static !important;
		clear: both;
		float: none;
		width: auto;
	}

	.sort-destination.full-width .isotope-item .img-thumbnail {
		width: 100%;
	}

	.sort-destination.full-width .isotope-item .img-thumbnail,
	.sort-destination.full-width .isotope-item a,
	.sort-destination.full-width .isotope-item .thumb-info img {
		text-align: center;
	}

	div.sort-source-wrapper {
		display: none;
	}

	/* Thumb Info */
	.thumb-info img {
		margin: 0 auto;
	}
}

/* Nav Responsive Breakpoints */
@media (max-width: 600px) {

	header nav ul.nav-top li {
		display: none;
	}

	header nav ul.nav-top li.phone {
		display: block;
	}

}