/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #2D343E;
	font-weight: 200;
	letter-spacing: -1px;
	margin: 0;
}

h1 {
	font-size: 3em;
	line-height: 44px;
	margin: 0 0 44px 0;
}

h2 {
	font-size: 2.2em;
	font-weight: 300;
	line-height: 42px;
	margin: 0 0 32px 0;
}

h3 {
	color: #CCC;
	font-size: 1.8em;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 24px;
	margin-bottom: 33px;
	text-transform: uppercase;
}

h4 {
	color: #CCC;
	font-size: 1.4em;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 27px;
	margin: 0 0 14px 0;
}

h5 {
	color: #CCC;
	font-size: 1em;
	font-weight: 600;
	letter-spacing: normal;
	line-height: 18px;
	margin: 0 0 14px 0;
	text-transform: uppercase;
}

h6 {
	color: #333;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 18px;
	margin: 0 0 14px 0;
}

/* Paragraphs */
p {
	color: #87919F;
	line-height: 22px;
	margin: 0 0 20px;
}

/* Drop Caps */
p.drop-caps:first-child:first-letter {
	float: left;
	font-size: 75px;
	line-height: 60px;
	padding: 4px;
	margin-right: 5px;
	margin-top: 5px;
	font-family: Georgia;
}

p.drop-caps.secundary:first-child:first-letter {
	background-color: #CCC;
	color: #FFF;
	padding: 6px;
	margin-right: 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* Divider Line */
hr {
	border: 0;
	height: 1px;
	margin: 22px 0 22px 0;
	background: #DDDEE2;
}

.divider {
	border: 0;
	height: 1px;
	margin: 44px 0;
	background: #DDDEE2;
	text-align: center;
	position: relative;
	clear: both;
}

.divider .icon {
	text-align: center;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background: #EDEFF2;
	border-radius: 50px;
	color: #BBB;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	position: absolute;
	text-align: center;
	width: 50px;
	font-size: 20px;
	margin: 0 auto 0 -25px;
	top: -25px;
	left: 50%;
}

/* Miscellaneous */
div.center {
	text-align: center;
}

body a {
	outline: none !important;
}

li {
	line-height: 22px;
}

.inverted {
	color: #FFF;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

/* Pagination */
.pagination {
	border: 0;
	border-bottom: 2px solid #E5E7E9;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.pagination.pagination-lg {
	border-bottom-width: 3px;
}

.pagination.pagination-sm {
	border-bottom-width: 1px;
}

.pagination > li > a,
.pagination > li > span {
	border: 0;
	margin-left: 1px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
	background: #F5F7F7;
}

/* Font Awesome */
div.fontawesome-icon-list [class*="col-md-"] {
	margin-bottom: 9px;
}

div.fontawesome-icon-list i {
	font-size: 1.3em;
	margin-right: 5px;
	display: inline-block;
	width: 30px;
	text-align: center;
	position: relative;
	top: 2px;
}

/* Forms */
.form-group:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

form label {
	font-weight: normal;
}

.form-control {
	height: 46px;
	padding: 12px;
	border: 2px solid #E5E7E9;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-control:focus {
	border-color: #CCC;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

textarea {
	resize: vertical;
}

select {
	border: 2px solid #E5E7E9;
	border-radius: 6px;
	height: 46px;
	padding: 12px;
	outline: none;
}

input[type="radio"],
input[type="checkbox"] {
	margin-top: 6px;
}

/* Thumb Info */
.thumb-info {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 0;
	position: relative;
	border: 0;
	background: #F7F9FC;
	display: block;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	max-width: 100%;
	text-align: center;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.thumb-info,
.thumb-info:hover {
	text-decoration: none;
}

.thumb-info + .thumb-info {
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	margin-top: -5px;
}

.thumb-info span.thumb-info-image {
	display: block;
	position: relative;
}

.thumb-info span.thumb-info-image:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* background: #2D343E; */
	width: 100%;
	height: 100%;
	filter: alpha(opacity=0);
	opacity: 0;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}


.thumb-info:hover span.thumb-info-image:before {
	filter: alpha(opacity=80);
	opacity: 0.8;
}

.thumb-info span.thumb-info-act {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	color: #FFF;
}

.thumb-info a,
.thumb-info a:hover {
	text-decoration: none;
	display: inline-block;
	width: 100%;
}

.thumb-info img {
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.thumb-info span.thumb-info-content {
	padding: 15px;
	text-align: left;
	display: block;
}

.thumb-info h4 {
	color: #404751;
	letter-spacing: -1px;
	font-weight: 600;
	font-size: 1.4em;
	line-height: 1.1em;
	margin: 0;
	padding: 0;
}

/* Thumbnail Gallery */
ul.thumbnail-gallery {
	list-style: none;
	margin: 10px 0;
	padding: 0;
}

ul.thumbnail-gallery li {
	display: inline-block;
	margin: 10px 10px 0 0;
	padding: 0;
}

/* Navs */
ul.nav-list.primary > li {
	margin: 0;
	padding: 0;
}

ul.nav-list.primary > li a {
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	border-bottom: 1px solid #DDDEE2;
	padding: 8px 20px 8px 2px;
	transition: all 0.3s;
}

ul.nav-list.primary > li:hover a {
	padding-left: 7px;
}

/* Nav Pills */
ul.nav-pills > li > a,
ul.nav-pills > li > a:hover,
ul.nav-pills > li > a:focus {
	color: #ffffff;
}

ul.nav-pills > li.active > a,
ul.nav-pills > li.active > a:hover,
ul.nav-pills > li.active > a:focus {
	border-bottom: 3px solid #CCC;
	color: #FFF;
}

/* Tabs */
div.tabs {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 35px;
}

div.tabs div.tab-content {
	background-color: #FFF;
	border: 0;
	border-bottom: 3px solid #222;
	padding: 17px;
}

div.tabs ul.nav-tabs {
	margin: 0;
	border: 0;
}

div.tabs ul.nav-tabs li.active a {
	background: #138eb2;
	color: #fff;
}

div.tabs ul.nav-tabs a {
	background: #073847;
	border: 1px solid #222;
	border-bottom: 0;
	color: #666;
	margin-right: 5px;
	padding: 10px 20px;
}

div.tabs ul.nav-tabs a:hover {
	border-top: 2px solid #222;
}

div.tabs ul.nav-tabs a:active,
div.tabs ul.nav-tabs a:focus {
	border-bottom: 0;
}

div.tabs ul.nav-tabs a,
div.tabs ul.nav-tabs a:hover {
	border: 1px solid e0e0e0;
	border-bottom: 0;
	border-top: 2px solid #222;
	color: #CCC;
}

/* Read More */
a.read-more,
a.learn-more {
	display: inline-block;
	white-space: nowrap;
}

/* Featured Box */
div.featured-box {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: #fff;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	min-height: 100px;
	position: relative;
	text-align: center;
	z-index: 1;
}

div.featured-box div.box-content {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border-top-width: 4px;
}

div.featured-box.default div.box-content {
	text-align: left;
}

div.featured-box p a.learn-more {
	display: block;
	margin-top: 10px;
}

div.featured-box i.image-icon,
i.icon-featured {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 100%;
	color: #FFF;
	font-size: 40px;
	line-height: 100px;
	margin: 25px 0;
	padding: 25px;
}

i.icon-featured {
	display: inline-block;
	padding: 0;
	width: 100px;
	height: 100px;
	position: relative;
}

i.icon-featured:after {
	background: transparent;
	pointer-events: none;
	content: '';
	display: block;
	border-radius: 50%;
	border: 2px solid #CCC;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin-top: -100%;
	filter: alpha(opacity=0);
	opacity: 0;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

div.featured-box h4 {
	font-weight: 400;
	letter-spacing: -0.7px;
	margin-top: 5px;
}

div.read-more,
div.read-more a,
div.learn-more,
div.learn-more a {
	display: inline-block;
	white-space: nowrap;
}

div.featured-boxes div.featured-box {
	margin-bottom: 20px;
	margin-top: 20px;
}


div.featured-box-primary h4 {
	color: #222;
}

div.featured-box-primary div.box-content {
}

/* Feature Box */
div.feature-box {
	clear: both;
}

div.feature-box div.feature-box-icon {
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	background: #CCC;
	border-radius: 35px;
	color: #FFF;
	display: inline-block;
	float: left;
	height: 35px;
	line-height: 35px;
	margin-right: 10px;
	position: relative;
	text-align: center;
	top: 5px;
	width: 35px;
	left: 10px;
}

div.feature-box div.feature-box-info {
	padding-left: 65px;
}

/* Feature Box Secundary */
div.feature-box.secundary h4 {
	color: #2D343E;
	font-family: 'Oswald', sans-serif;
	font-size: 1.6em;
	margin-bottom: 3px;
	font-weight: 300;
}

div.feature-box.secundary div.feature-box-icon {
	background: #BFBFBF;
	width: 50px;
	height: 50px;
	line-height: 50px;
	top: -8px;
	position: relative;
	left: 0;
}

div.feature-box.secundary div.feature-box-icon:before {
	background: #EAECEE;
	border: 1px solid #D2D2D2;
	width: 52px;
	height: 50px;
	display: block;
	content: "";
	position: absolute;
	top: -2px;
	left: -1px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

div.feature-box.secundary div.feature-box-icon i.icon {
	font-size: 21px;
	position: relative;
	left: 1px;
}

div.feature-box.secundary div.feature-box-info {
	padding-left: 67px;
}

/* Icons */
.icon-rounded {
    border-radius: 25px;
    display: inline-block;
    height: 25px;
    line-height: 23px;
    text-align: center;
    width: 25px;
    border-bottom: 2px solid #FFF;
    color: transparent;
    margin: 0 3px 5px 0;
}

.icon-rounded .icon {
    color: #FFF;
    font-size: 0.9em;
    font-weight: normal;
}

span.featured-icon {
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	background: #CCC;
	border-radius: 35px;
	color: #FFF;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	margin-right: 10px;
	position: relative;
	text-align: center;
	top: 5px;
	width: 35px;
}

span.featured-icon i {
	color: #FFF;
	font-size: 0.9em;
	font-weight: normal;
}

/* Video Container */
.video-container {
	padding-top: 25px;
	padding-bottom: 50.5%;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
	height: 0;
}

.video-container.vimeo {
	padding-top: 0;
	padding-bottom: 60.9%;
}

.video-container embed,
.video-container iframe,
.video-container object,
.video-container video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* List */
ul.list li {
	margin-bottom: 13px;
}

ul.list.icons li i {
	color: #CCC;
	margin-right: 5px;
}

ul.list.pull-left li {
	text-align: left;
}

/* Icons */
ul.icons {
	list-style: none;
}

ul.icons [class^="icon-"] {
	margin-right: 5px;
}

/* Simple Post List */
ul.simple-post-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.simple-post-list li {
	line-height: 20px;
}

ul.simple-post-list li {
	min-height: 90px;
	padding: 15px 0;
	border-bottom: 1px solid #EBECF0;
}

ul.simple-post-list li:last-child {
	border-bottom: 0;
	padding-right: 0;
}

/* Portfolio List */
ul.portfolio-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.portfolio-list .col-md-4 .portfolio-item {
}

/* Sort Source */
div.sort-source-wrapper {
	clear: both;
}

ul.sort-source {
	clear: both;
}

div.sort-source-wrapper .sort-source-title {
	float: left;
	font-size: 1.4em;
	line-height: 1em;
	color: #ABB2BC;
	min-height: 55px;
}

div.sort-source-wrapper .sort-source-title strong {
	color: #2D343E;
	font-size: 1.5em;
	display: block;
	position: relative;
	top: 4px;
}

div.sort-source-wrapper ul.sort-source {
	float: right;
	clear: none;
	margin-bottom: 30px;
}

div.sort-source-wrapper.full-width ul.sort-source {
	margin-bottom: 0;
}

div.sort-source-wrapper.full-width {
	background: #2D343E;
	margin: -53px 0 0;
	padding: 14px 0 12px;
	position: relative;
	z-index: 1000;
}

div.sort-source-wrapper.full-width .nav > li > a {
	color: #FFF;
}

div.sort-source-wrapper.full-width .nav > li > a:hover {
	background: transparent;
	border-bottom-color: transparent;
}

/* Sort Destination */
.sort-destination {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sort-destination li {
	margin-bottom: 35px;
}

.sort-destination.full-width {
	margin: 0;
	width: 101%;
}

.sort-destination.full-page {
	margin: 0 0 -45px 0;
}

.sort-destination.full-width .isotope-item {
	width: 16.6%;
	float: left;
	margin: 0 0 0 -0.02%;
	padding: 0;
}

.sort-destination.full-width .isotope-item .img-thumbnail,
.sort-destination.full-width .isotope-item a,
.sort-destination.full-width .isotope-item .thumb-info img {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: 0;
}

.sort-destination.full-width .isotope-item .img-thumbnail {
	float: left;
}

.sort-destination.full-width .isotope-item .img-thumbnail {
	border: 0;
	padding: 0;
	margin: 0;
}

/* Google Maps */
div.google-map {
	background: #E5E3DF;
	height: 400px;
	margin: -55px 0 30px;
	width: 100%;
}

.parallax + div.google-map {
	margin-top: -70px;
}

div.google-map img {
	max-width: 9999px;
}

/* Map Overlay */
div.map-overlay {
	margin-top: -390px;
}

div.map-overlay div.box-content {
	border-top: 0;
	text-align: left;
}

/* Search Results */
div.search-results {
	min-height: 300px;
}

/* Masonry */
.masonry-list {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 101%;
	filter: alpha(opacity=0);
	opacity: 0;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

.masonry-list.init {
	filter: alpha(opacity=100);
	opacity: 1;
}

.masonry-list div.featured-box {
	margin-bottom: 0;
}

.masonry-list.full {
	margin-left: 1.2%;
	width: 99.5%;
}

.masonry-list.full div.featured-box {
	margin-bottom: 15px;
}

/* Masonry Full Width */
.masonry-list .masonry-item {
	width: 18%;
	margin: 0 1.9% 0 0%;
	float: left;
	min-height: 1px;
	position: relative;
}

.masonry-list .masonry-item.w2 {
	width: 37.9%;
}

/* Masonry Default */
.col-md-12 .masonry-list .masonry-item {
	width: 31.4%;
}

.col-md-12 .masonry-list .masonry-item.w2 {
	width: 64.7%;
}

/* Masonry Sidebar */
.col-md-9 .masonry-list {
	margin-top: -18px;
}

.col-md-9 .masonry-list .masonry-item {
	width: 48.1%;
}

.col-md-9 .masonry-list .masonry-item.w2 {
	width: 98%;
}

.masonry-item div.featured-box div.box-content {
	padding: 15px;
	text-align: left;
}

/* Popup */
.popup-inline-content {
	background: none repeat scroll 0 0 #FFF;
	margin: 40px auto;
	max-width: 1170px;
	padding: 20px 30px;
	position: relative;
	text-align: left;
	display: none;
}

.mfp-wrap .popup-inline-content {
	display: block;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close,
button.mfp-close,
button.mfp-arrow {
	outline: none;
}