html {
	overflow-x: hidden;
	overflow-y: auto;
}

html,
body {
	height: 100%;
}

body {
	color: #87919F;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 0px;
	margin: 0;
	padding-top: 57px;
}

div.body {
	height: 100%;
	width: 100%;
}

@media (max-width: 768px){
	.product-thumb,
	.mobile-list-product	{
		border: none;
		padding-right: 0px !important;
		padding-left: 0px !important;
	}
}

@media(min-width: 769px){
	.product-thumb{
		margin-bottom:15px;
	}
}

@media(min-width:769px){
	.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1000;
		top: 0px;
		left: 0;
		background-color: rgba(0,0,0,0.9);
		overflow-x: hidden;
		transition: 0.5s;
	}

	.sidenav a {
		padding: 12px 8px 8px 25px;
		text-decoration: none;
		font-size: 14px;
		color: #fff;
		display: block;
		transition: 0.3s;
	}

	.sidenav a:hover {
		color: #f1f1f1;
	}

	.sidenav .closebtn {
		padding: 20px 0px 0px 25px;
		font-size: 36px;	
		color: #ffffff;
	}
	
	.home-promo{
		height:100vh;
	}
	
	.full-menu-join{
		background: #781A21; /* For browsers that do not support gradients */    
		background: -webkit-linear-gradient(left, #781A21 , #f41d11); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(right, #781A21 , #f41d11); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(right, #781A21 , #f41d11); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, #781A21 , #f41d11); /* Standard syntax (must be last) */
		left:20px;
		margin-top: -8px;
		padding: 7px;
	}
}

@media(max-width:768px){
	.side-menu-join{
		width:250px;
		padding:5px;
		bottom:0;
		position:absolute;
		background: #781A21; /* For browsers that do not support gradients */    
		background: -webkit-linear-gradient(left, #781A21 , #f41d11); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(right, #781A21 , #f41d11); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(right, #781A21 , #f41d11); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, #781A21 , #f41d11); /* Standard syntax (must be last) */
	}
}

.product-list-title{
	margin-top:30px;
}

.notify-badge{
    position: absolute;
    right:15px;
    background:red;
    text-align: center;
    color:white;
    padding:5px 10px;
    font-size:14px;
}

/* Header */
header {
	clear: both;
	position: fixed;
	top: 0;
	width: 100%;
	height: 58px;
	z-index: 1001;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.bg-header{
	background: rgba(0, 0, 0, 0.9);
}

@media(min-width:769px){
	.mini-header-fixed{
		position:fixed;
	}
	
	.mini-header{
		padding:0 45px 0 15px;
	}
	
	.info-book-header{
		padding-top:60px;
		padding-bottom:60px;
	}
	
	.info-wisata-header{
		padding-top:60px;
		padding-bottom:20px;
		padding-left:15px;
	}
	
	.book-narator-title{
		margin-bottom:10px;
		color:#222;
		font-size:1.2em;
		font-weight:bold;
	}
}

@media(max-width:768px){
	.mini-header-fixed{
		position:static;
	}

	.mini-header{
		padding:0px 5px 0px 15px;
	}
	
	.info-book-header{
		padding-top:30px;
		padding-bottom:80px;
	}
	
	.info-wisata-header{
		padding-top:30px;
		padding-bottom:20px;
		padding-left:15px;
	}
	
	.side-search{
		padding:0;
	}
	
	.side-book-detail{
		padding:0 !important;
	}
	
	.mobile-list-product{
		margin-top:40px;
	}
	
	.book-narator-title{
		margin-top:15px;
		margin-bottom:10px;
		color:#222;
		font-size:1.2em;
		font-weight:bold;
	}
}

/* Responsive Nav Button */
button.btn-responsive-nav {
	display: none;
}

/* Logo */
header h1.logo {
	color: #fff;
	float: left;
	height: 100%;
	z-index: 100;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

@media(min-width:992px){
	header h1.logo {
		margin: -8px 0px -8px 0;
		padding: 5px 0px 10px 15px;
	}
	
	#accordion{
		display:none;
	}
	
	.descart{
		display: inline-block;
		margin-top: 1px;
		padding: 10px 15px;
		margin-left: 10px;
		background-color: #fff;
		border: 1px solid #e0e0e0;
		border-radius:50%;
		outline:none;
	}
	
	.left-category-sec{
		color:#222;
		font-weight:bold;
		margin:8px 0px 15px 15px;
		font-size:1.4em;
	}
	
	.left-product-sec{
		color:#222;
		font-weight:bold;
		margin:8px 0px 15px 15px;
		font-size:1.4em;
	}
	
	.right-product-sec{
		color:#222;
		font-weight:bold;
		margin-bottom:15px;
		margin-right:15px;
	}
	
	.news-thumb-list{
		margin-bottom:30px;
	}
	
	.news-title{
		color:#222;
		font-size:1.5em;
		font-weight:bold;
		margin: 10px 10px 0px;
		text-align:left;
	}
	
	.news-date{
		color:#999;
		font-size:1.0em;
		font-weight:bold;
		margin: 0px 10px 10px;
		text-align:left;
	}
	
	.news-short{
		color:#444;
		font-size:1.0em;
		margin: 10px;
		text-align:left;
	}
	
	.news-full{
		color:#444;
		font-size:1.0em;
		margin: 10px;
		text-align:justify;
	}
}


/*@media(min-width: 769px) and (max-width: 991px){
	header h1.logo{
	  margin: 0px 10px -8px 0px;
	  left: 50%;
	  position: relative;
	}	
}*/


@media(max-width:991px){
	header h1.logo {
		margin: 0px 10px -8px 0;
		padding: 5px 15px 10px 15px;
		left: 50%; 
		position: relative; 
		transform: translateX(-50%);
	}	
	
	.descart{
		display:none;
	}
	
	.left-category-sec{
		color:#222;
		font-weight:bold;
		margin:8px 0px 15px 15px;
		font-size:1.4em;
	}
	
	.left-product-sec{
		color:#222;
		font-weight:bold;
		margin:8px 0px 15px 0px;
		font-size:1.4em;
	}
	
	.right-product-sec{
		color:#222;
		font-weight:bold;
		margin-bottom:15px;
		margin-right:0px;
	}
	
	.news-title{
		color:#222;
		font-size:1.5em;
		font-weight:bold;
		margin: 10px 10px 10px 10px;
		text-align:left;
	}
	.news-date{
		color:#999;
		font-size:1.0em;
		font-weight:bold;
		margin: 0px 10px 10px;
		text-align:left;
	}
	
	.news-short{
		color:#222;
		font-size:1.0em;
		margin: 10px;
		text-align:left;
		font-family:arial;
	}
	
	.news-full{
		color:#444;
		font-size:1.0em;
		margin: 10px;
		text-align:justify;
	}
}

header h1.logo img {
	position: relative;
	color: transparent;
}

/* Navigation */
header nav.nav-main {
	float: right;
}

header div.nav-main-collapse {
	float: right;
	margin-top: 15px;
}

header div.nav-main-collapse,
header div.nav-main-collapse.in {
	overflow-y: visible;
}

header div.nav-main-collapse.in {
	overflow-y: visible;
	float: none;
	margin: 0;
}

header div.nav-user-collapse {
	float: right;
	margin-top: 15px;
}

header div.nav-user-collapse,
header div.nav-user-collapse.in {
	overflow-y: visible;
}

header div.nav-user-collapse.in {
	overflow-y: visible;
	float: none;
	margin: 0;
}

header nav ul.nav-main {
	margin: -7px 10px 0px 0;
}

header nav ul.nav-main i.icon-caret-down {
	background: transparent;
	border-radius: 100%;
	color: #ffffff;
	display: inline-block;
	font-size: 12px;
	height: 14px;
	line-height: 25px;
	position: relative;
	text-align: center;
	top: -1px;
	width: 14px;
}

header nav ul.nav-main > li + li {
	margin-left: -4px;
}

header nav ul.nav-main .dropdown-submenu {
	position: relative;
}

header nav ul.nav-main .dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}

header nav ul.nav-main .dropdown-submenu:hover > .dropdown-menu {
	display: block;
}

header nav ul.nav-main .dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #CCC;
	margin-top: 5px;
	margin-right: -10px;
}

header nav ul.nav-main .dropdown-submenu:hover > a:after {
	border-left-color: #ffffff;
}

header nav ul.nav-main .dropdown-submenu.pull-left {
	float: none;
}

header nav ul.nav-main .dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

header nav ul.nav-main li.dropdown.open a.dropdown-toggle {
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

header nav ul.nav-main ul.dropdown-menu,
header nav ul.nav-main li.dropdown.open a.dropdown-toggle,
header nav ul.nav-main li.active a {
	background-color: transparent;
}

header nav ul.nav-main ul.dropdown-menu {
	-moz-border-radius: 6px;
	-moz-box-shadow: 0 0 0;
	-webkit-border-radius: 6px;
	-webkit-box-shadow: 0 0 0;
	border: 0;
	border-radius: 6px;
	box-shadow: 0 0 0;
	top: auto;
	background: #222;
}

@media(max-width:768px){
	header nav ul.nav-main ul.dropdown-menu {
		margin: -5px 0 0 3px;
	}
}

@media(min-width:769px){
	header nav ul.nav-main ul.dropdown-menu {
		margin: 15px 0 0 3px;
	}
}

header nav ul.nav-main ul.dropdown-menu ul.dropdown-menu {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
    border-left: 3px solid #393F48;
    margin-left: -600px !important;
    margin-top: -10px;
}

header nav ul.nav-main ul.dropdown-menu li:hover > a {
	filter: none;
	background: #393F48;
}

header nav ul.nav-main ul.dropdown-menu > li > a {
	color: #ECECED;
	font-weight: 400;
	padding-bottom: 4px;
	padding-top: 4px;
	text-transform: none;
	position: relative;
	padding: 8px 20px 8px 12px;
	font-size: 0.9em;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

header nav ul.nav-main ul.dropdown-menu > li > a:hover {
	padding-left: 16px;
	padding-right: 16px;
}

header nav ul.nav-main ul.dropdown-menu li:last-child > a {
	border-bottom: 0;
}

header nav ul.nav-main li a {
	background: none;
	font-style: normal;
	margin-left: 3px;
	margin-right: 3px;
	color: #222;
	font-weight: bold;
	position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
}

header nav ul.nav-pills > li > a:before {
	display: block;
	content: " ";
	width: 1px;
	height: 20px;
	position: absolute;
	right: 0;
	top: 10px;
}

header ul.nav-pills > li.active > a {
	color: #ffffff;
}

header nav ul.nav-pills > li > a,
header nav ul.nav-pills > li > a:hover,
header nav ul.nav-pills > li > a:focus,
header nav ul.nav-pills > li.active > a,
header nav ul.nav-pills > li.active > a:hover,
header nav ul.nav-pills > li.active > a:focus {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	background: none;
	border: 0;
}

header nav ul.nav-main li ul a {
	text-transform: none;
	font-weight: normal;
	font-size: 0.9em;
}

header nav ul.nav-main li.dropdown:hover > a {
	padding-bottom: 11px;
	margin-bottom: -1px;
	position: relative;
}

header nav ul.nav-main li.dropdown:hover > a:after {
	display: block;
	content: " ";
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 20px solid #222;
	position: absolute;
	bottom: -15px;
	left: 40%;
}

header nav ul.nav-main li.dropdown:hover a.dropdown-toggle {
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

header nav ul.nav-main li.dropdown:hover > ul {
	display: block;
}

/* Main Carousel */
@media(min-width:769px){
	.slider-title{
		color:#3d3d3d;
		font-weight:bold;
		margin-top:-20px;
		margin-bottom:40px;
		font-size:1.6em;
	}
	
	.slider-height{
		width:100vw;
		height:93vh;
		object-fit: cover;
	}
}

@media(max-width:768px){
	.slider-title{
		color:#3d3d3d;
		font-weight:bold;
		margin-top:-20px;
		margin-bottom:40px;
		font-size:1.3em;
	}
	
	.slider-height{
		width:100vw;
		height:88vh;
		object-fit: cover;
	}
	
	.news-thumb{
		padding: 0px !important;
		margin-bottom:30px;
		border:none;
	}
}

div.main-carousel {
    margin-top: -60px;
    overflow: hidden;
    padding-bottom: 120px;
    padding-top: 120px;
    position: relative;
    visibility: hidden;
    width: 100%;
}

	
.home-owner-name{
	color:#fff !important;
	margin-bottom: 0px;
}

.home-owner-title{
	color:#fff !important;
}

@media(min-width:769px){
	.home-slider{
		padding:0px 0px 0px 0px;
		margin-top: -1px;
		height:100%;
	}
	
	.home-owner-desc{
		font-size:1.8em;
		line-height:40px;
		background-color:#111;
		color:#fff !important;
	}
}

@media(min-width:768px){
	.home-owner{
		max-width:500px;
	}
	
	.home-owner-desc{
		padding-right:30px;
		margin-top:30px !important;
	}
	
	.home-owner-name{
		
	}
}

@media(max-width:768px){
	.home-slider{
		padding:0px 0px 0px 0px;
		height:100%;
		margin-bottom:-67px;
	}
	
	.home-owner-desc{
		font-size:1.4em;
		line-height:35px;
		margin-top:50px;
		background-color:#111;
		color:#fff !important;
	}
}

@media(max-width:767px){
	.home-owner{
		padding:0px 30px;
	}
	
	.home-owner-desc{
		padding:0px 15px 40px 0px;
	}
}

/* Main */
@media(min-width:768px){
	div.main {
		background-image : url(../img/city3.png);
		background-repeat: repeat-x;
		background-position: bottom left;
		background-size:70% 60%;
		padding-bottom:50px;
	}
	
	div.main4 {
		background-image : url(../img/city3.png);
		background-repeat: repeat-x;
		background-position: bottom left;
		background-size:70% 60%;
		padding-bottom:50px;
	}
}

@media(max-width:767px){
	div.main {
		background-image : url(../img/city3.png);
		background-repeat: repeat-x;
		background-position: bottom left;
		background-size:80% 30%;
		padding-bottom:50px;
	}
}

/* nav button after clicked */
div.main:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}


.book-info{
	margin-bottom:0px;
	color:#222;
}

/* Footer */
footer {
	background: #222222;
	font-size: 0.9em;
	margin-top: -7px;
	padding: 40px 0 0;
	position: relative;
	clear: both;
}

footer div.container div.row > div {
	margin-bottom: 0px;
}

footer div.container input:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Social Icons */
footer ul.social-icons {
	clear: both;
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

footer ul.social-icons li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

footer ul.social-icons li a {
	display: inline-block;
	width: 35px;
	color: #5B616A !important;
	height: 25px;
	text-align: center;
	line-height: 25px;
	font-size: 20px;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

/* Contact */
footer ul.contact {
	list-style: none;
	margin: 0;
	padding: 0;
}

footer ul.contact li {
	clear: both;
}

footer ul.contact i {
	display: block;
	float: left;
	font-size: 1.2em;
	margin: 7px 8px 10px 0;
	position: relative;
	text-align: center;
	top: -2px;
	width: 16px;
}

footer ul.contact i.icon-envelope {
	font-size: 1em;
	top: 0;
}

footer ul.contact p {
	margin-bottom: 10px;
}

/* Footer Logo */
@media(min-width:321px){
	footer a.logo{
		font-size:1.8em;
		display: block;
	}
}

@media(max-width:320px){
	footer a.logo{
		font-size:1.5em;
		display: block;
	}
}

footer div.container div.row > div {
	margin-bottom: 25px;
}

footer a.logo.push-bottom {
	margin-bottom: 12px;
}

footer form {
	filter: alpha(opacity=85);
	opacity: 0.85;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer a {
	color: #FFF !important;
}

footer h5 {
	color: #CCC !important;
}

footer p {
	color: #ffffff;
}

footer a:hover {
	color: #333333;
}

footer h4 {
	font-size: 1.8em;
	font-weight: 200;
	font-family: 'Oswald',sans-serif;
}

/* Copyright */
div.footer-copyright {
	background: #111111;
	margin-top: 20px;
	padding: 10px 0 10px;
}

div.footer-copyright nav {
	float: right;
}

div.footer-copyright nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.footer-copyright nav ul li {
	border-left: 1px solid #505050;
	display: inline-block;
	line-height: 12px;
	margin: 0;
	padding: 0 8px;
}

div.footer-copyright nav ul li:first-child {
	border: medium none;
	padding-left: 0;
}

div.footer-copyright p {
	color: #ffffff;
	margin: 0;
	padding: 0;
}

footer div.alert a {
	color: #222 !important;
}

footer div.alert a:hover {
	color: #666 !important;
}

footer span.phone {
	color: #FFF;
	font-size: 26px;
	font-weight: bold;
	display: block;
	padding-bottom: 15px;
	margin-top: -5px;
}

footer.short {
	padding-top: 50px;
}

footer ul.nav-list.primary > li a {
	border-bottom: 1px solid rgba(255,255,255,0.1);
	line-height: 20px;
	padding-bottom: 11px;
}

footer ul.nav-list.primary > li a:hover {
	background-color: rgba(255,255,255,0.05);
	padding-left: 12px;
}

footer ul.list.icons li {
	margin-bottom: 5px;
}

@media(min-width:769px){
	.gallery-title{
		margin-top:30px;
		text-align:left;
	}
	
	.rental-home{
		background-color:#222;
		padding:40px 0px 45px 0px;
	}
	
	.rental-title{
		color:#fff;
		font-weight:bold;
		margin-top:15px;
		margin-bottom:30px;
	}
	
	.rental-content{
		background-color:#222;
		margin-top:10px;
	}
	
	.list-car{
		padding-left:30px;
	}
}

@media(max-width:768px){
	.rental-home{
		background-color:#222;
		padding:40px 0px 0px 0px;
	}

	.rental-title{
		 color:#fff;
		 font-weight:bold;
		 margin-top:15px;
		 margin-bottom:15px;
	}
	
	.rental-content{
		background-color:#222;
		margin-top:-10px;
	}

	.gallery-title{
		margin-top:30px;
		text-align:center;
	}
	
	.list-car{
		padding-left:0px;
	}
}

div.thumb-info-image:hover  .wisata-image{
	opacity: 0.3;
}

div.thumb-info-image:hover  .wisata-text-hover{
	opacity: 1;
}

.wisata-text-hover{
	background-color: #4CAF50;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
}

.car-list-home{
	background-color:#138eb2;
	margin-right:5px;
	margin-top:10px;
}

.car-list-home a{
	padding:15px 15px;
	font-weight:bold;
	color:#fff;
}

.car-list-home a:hover, a:active, a:focus{
	text-decoration:none;
	color:#fff;
}

.carousel-indicators {
  bottom:-50px;
}

.carousel-indicators li {
  border-color:#999;
  background-color:#999;
  width:15px;
  height:15px;
  margin:0px 3px;
  padding:0px;
}

.carousel-indicators .active {
  border-color:#222;
  background-color:#222;
  width:15px;
  height:15px;
  margin:0px 3px;
  padding:0px;
}

.carousel-inner {
   margin-bottom:60px;
}

@media(max-width:768px){
	@charset "utf-8";
/* CSS Document */

body {
  background-color: #ffffff; /* for the tint */
}

.all-elements{
	overflow-x:hidden;	
}

.page-content{
	background-color:#FFFFFF;
	z-index:10;
	display:block;
	min-height:580px;		
}

.page-content-wrapper{
	display:block;
	margin-top:0px;
	margin-bottom:0px;
	padding:20px;
	padding-bottom:15px;

}

.page-sidebar{
	background-image:url(../images/misc/menu-bg.png);
	background-repeat:repeat;
	background-size:75px 75px;
	width:262px;
	display:block;
	position:absolute;
	z-index:2;
	top:0px;
	left:0px;
	bottom:0px;
	overflow:hidden;
	position:fixed;
}

.page-sidebar-scroll{
	z-index:2;
	width:282px;
    overflow: scroll;
    overflow-x: hidden;
   /* -webkit-overflow-scrolling: touch;*/
	height:100%;
}




/*Content Controls*/

.homepage-slider{
	z-index:9;
	margin-top:-50px;
}

.content-controls{
	z-index:15;
	height:50px;
}


.fixed-header{
	top:0px;
	z-index:999999;
	position:fixed;
	width:100%;
}

.fixed-header-clear{
	height:70px;
}

.header-black{
	background-color:rgba(0,0,0,0.85);
	margin-bottom:20px;
}

.deploy-sidebar{
	background-image:url(../images/misc/deploy-nav.png);
	background-repeat:no-repeat;
	width:50px;
	height:50px;
	background-size:18px 12px;
	background-position:20px 18px;
}

.content-title{
	font-family:'Lato', sans-serif;
	font-size:14px;
	text-transform:uppercase;
	font-weight:800;
	color:#FFFFFF;
	display:block;
	width:100%;
	text-align:center;
	font-style:normal;
	margin-top:-35px;
}

.deploy-contact{
	background-image:url(../images/misc/deploy-mail.png);
	background-repeat:no-repeat;
	width:50px;
	height:50px;
	background-size:18px 12px;
	background-position:15px 18px;
	position:absolute;
	right:0px;
	top:0px;
}

.content-header{
	position:absolute;
	margin-top:-65px;
	margin-left:20px;
	width:100%;
	min-width:320px;
}

.content-header h3{
	color:#FFFFFF;
	font-family:'Lato', sans-serif;
	font-weight:800;
	font-size:18px;
	margin-bottom:3px;
}

.content-header em{
	display:block;
	color:#a4a4a4;
	font-family:'Open Sans', sans-serif;
	font-weight:400;
	font-size:12px;
	font-style:normal;
}

.content-header-call{
	position:absolute;
	background-image:url(../images/misc/deploy-call.png);
	background-repeat:no-repeat;
	background-size:38px 38px;
	width:38px;
	height:38px;
	right:40px;
	margin-top:-42px;
}

.content-header-text{
	position:absolute;
	background-image:url(../images/misc/deploy-text.png);
	background-repeat:no-repeat;
	background-size:38px 38px;
	width:38px;
	height:38px;
	margin-right:40px;
	margin-top:-42px;
	right:50px;
}

.homepage-slider{
	margin-bottom:20px;
}

.overlay{
	z-index:9999;
	position:absolute;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.7);
}

/*Adjustments for tablets*/

@media screen and (orientation:landscape) {
    .content-section .responsive-image{
		margin-top:-70px;	
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width:  1024px)
and (orientation : landscape) { 
	.column-responsive{
		width:30%;
		float:left;
		margin-right:5%;
	}
	
    .content-section .responsive-image{
		margin-top:-210px;	
	}	
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width:  1024px)
and (orientation : portrait) { 
	.column-responsive{
		width:30%;
		float:left;
		margin-right:3%;
	}

    .content-section .responsive-image{
		margin-top:-130px;	
	}	
}

@media only screen 
and (width : 798px){ 
	.column-responsive{
		width:30%;
		float:left;
		margin-right:3%;
	}

    .content-section .responsive-image{
		margin-top:-130px;	
	}	
}

.content-section{
	margin-bottom:20px;
}

.content-section .responsive-image{
	margin-bottom:0px;
}

.content-section h1{
	font-size:16px;
	position:absolute;
	color:#FFFFFF;
	margin-top:30px;
	left:20px;
	z-index:99999;
}

.content-section em{
	font-size:12px;
	font-style:normal;
	position:absolute;
	color:#a3a3a3;
	margin-top:55px;
	left:20px;
	z-index:99999;
}

/*About Faces / Quotes */

.quote-item em{
	text-align:center;
	display:block;
	color:#e34e47;
	margin-bottom:10px;
}

.quote-item h4{
	text-align:center;
	margin-bottom:0px;
}

.quote-item strong{
	text-align:center;
	font-style:normal;
	font-weight:400;
	display:block;
	width:200px;
	margin-left:auto;
	margin-right:auto;
}

.quote-item img{
	border-radius:100px;
	width:100px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
}

/*Columns Responsive*/

.column-responsive img{
	width:100px;
	float:left;
	border-radius:100px;
	margin-right:10px;
	margin-bottom:10px;
}

.column-responsive strong{
	margin-top:5px;
	display:block;
	margin-bottom:10px;
	font-size:14px;
	color:#1a1a1a;
}

.column-responsive em{
	font-style:normal;
}

.copyright{
	font-size:10px;
}

.footer-socials{
	width:110px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
}

.footer-socials a{
	float:left;
	margin-left:5px;
	margin-right:5px;
}

.facebook-footer{
	background-image:url(../images/misc/facebook.png);
	background-repeat:no-repeat;
	background-size:25px 26px;
	height:25px;
	width:25px;
}

.goup-footer{
	background-image:url(../images/misc/goup.png);
	background-repeat:no-repeat;
	background-size:25px 25px;
	height:25px;
	width:25px;
}

.twitter-footer{
	background-image:url(../images/misc/twitter.png);
	background-repeat:no-repeat;
	background-size:25px 25px;
	height:25px;
	width:25px;
}


/*//////////////*/
/*Sidebar Styles*/
/*//////////////*/

.round-decoration{
	width:80px;
	border-radius:80px;
}

.sidebar-controls{
	border-bottom:solid 1px rgba(255,255,255,0.05);
}

.sidebar-controls a{
	background-position:18px 17px;
	background-repeat:no-repeat;
	background-size:15px 15px;
	border-right:1px solid #191919;
	border-left:solid 1px rgba(255,255,255,0.05);
	border-bottom:1px solid #191919;
	float:left;	
	width:52px;
	height:50px;
}

.sidebar-call{
	background-image:url(../images/misc/sidebar-call.png);
	border-left:none!important;
}

.sidebar-text{
	background-image:url(../images/misc/sidebar-text.png);
}

.sidebar-face{
	background-image:url(../images/misc/sidebar-facebook.png);
}

.sidebar-twit{
	background-image:url(../images/misc/sidebar-twitter.png);
}

.sidebar-close{
	background-image:url(../images/misc/sidebar-close.png);
}

.sidebar-logo{
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:20px;
}

.sidebar-header{
	margin-bottom:20px;
}

.sidebar-header h4{
	font-size:18px;
	color:#FFFFFF;
	margin-bottom:0px;
}

.sidebar-header em{
	display:block;
	font-style:normal;
	color:#a4a4a4;
}

.sidebar-decoration{
	width:260px;
	height:2px;
	background-color:#191919;
	border-bottom:solid 1px rgba(255,255,255,0.1);
}


/*Sidebar Navigation*/

.sidebar-breadcrumb{
	background-color:rgba(0,0,0,0.1);
}

.sidebar-breadcrumb p{
	opacity:0.5;
	color:#d2d3d4;
	font-size:10px;
	margin-left:20px;
	margin-top:5px;
	margin-bottom:5px;
	font-family:'Lato', sans-serif;
	font-weight:400;	
	text-transform:uppercase;
}

.nav-item{
	height:58px;
	overflow:visible;
	display:inline;
}

.nav-item a{
	height:58px;
	line-height:59px;
	background-repeat:no-repeat;
	background-size:20px 20px;
	color:#d3d3d3;
	font-family:'Lato', sans-serif;
	font-weight:700;
	font-size:14px;
	padding-left:60px;	
}

.home-nav{
	background-image:url(../images/misc/nav-home.png);
	background-position:20px 19px;
}

.features-nav{
	background-image:url(../images/misc/nav-features.png);
	background-position:20px 20px;	
}

.gallery-nav{
	background-image:url(../images/misc/nav-camera.png);
	background-position:20px 20px;	
}

.contact-nav{
	background-image:url(../images/misc/nav-mail.png);
	background-position:20px 21px;	
}

.close-nav{
	background-image:url(../images/misc/nav-close.png);
	background-position:20px 20px;
}

.facebook-nav{
	background-image:url(../images/misc/nav-facebook.png);
	background-position:20px 20px;
}

.twitter-nav{
	background-image:url(../images/misc/nav-twitter.png);
	background-position:20px 20px;
}

.selected-nav{
	background-image:url(../images/misc/nav-selected.png);
	background-size:14px 14px;
	position:absolute;
	width:14px;
	height:14px;
	left:220px;
	margin-top:23px;
}

.unselected-nav{
	background-image:url(../images/misc/nav-unselected.png);
	background-repeat:no-repeat;
	background-size:14px 14px;
	position:absolute;
	width:14px;
	height:14px;
	left:220px;
	margin-top:23px;
}

.selected-sub-nav{
	background-image:url(../images/misc/nav-selected.png);
	background-repeat:no-repeat;
	background-size:11px 11px;
	position:absolute;
	width:14px;
	height:14px;
	left:221px;
	margin-top:18px;
}

.unselected-sub-nav{
	background-image:url(../images/misc/nav-unselected.png);
	background-size:14px 14px;
	position:absolute;
	width:14px;
	height:14px;
	left:220px;
	margin-top:18px;
}


.link-nav{
	background-image:url(../images/misc/nav-link.png);
	background-size:14px 14px;
	position:absolute;
	width:14px;
	height:14px;
	left:220px;
	margin-top:22px;
}


.submenu-deploy em{
	background-image:url(../images/misc/nav-dropup.png);
	background-size:14px 14px;
	position:absolute;
	width:14px;
	height:14px;
	left:220px;
	margin-top:23px;
}

.dropdown-nav{
	background-image:url(../images/misc/nav-dropdown.png)!important;
	background-size:14px 14px;
	position:absolute;
	width:14px;
	height:14px;
	left:200px;
	margin-top:23px;
}

.nav-item-submenu{
	display:none;
}

.active-submenu{
	display:block;
}

.nav-item a:hover{
	background-color:rgba(255,255,255,0.03);
}

.nav-item-submenu a{
	background-image:url(../images/misc/nav-submenu.png);
	background-repeat:no-repeat;
	background-size:10px 10px;
	margin-bottom:0px;
	margin-top:0px;
	height:50px!important;
	line-height:50px!important;
	background-position:25px 20px;
	padding-left:60px;
	margin-left:0px;
	font-size:12px;
	font-weight:400;
	color:#7d7d7e;
	border-bottom:solid 1px rgba(255,255,255,0.03);
}

.nav-item-submenu a:last-child{
	border-bottom:none!important;
}


/*/////////////////////*/
/*Sidebar Notifications*/
/*/////////////////////*/

.sidebar-updates{
	margin-top:20px;
	margin-bottom:20px;
}

.sidebar-update{
	height:42px;
	background-repeat:no-repeat;
	background-size:42px 42px;
	margin-left:20px;
	margin-bottom:20px;
}

.sidebar-update strong{
	color:#b9b9b9;
	font-size:12px;
	font-family:'Lato', sans-serif;
	padding-left:60px;
	display:block;
}

.sidebar-update em{
	font-size:10px;
	font-family:'Open Sans', sans-serif;
	color:#7e8081;
	font-style:normal;
	display:block;
	padding-left:60px;
}

.blue-update{
	background-image:url(../images/misc/notification-blue.png);
}

.green-update{
	background-image:url(../images/misc/notification-green.png);
}

.red-update{
	background-image:url(../images/misc/notification-red.png);
}

.yellow-update{
	background-image:url(../images/misc/notification-yellow.png);
}

.sidebar-copyright{
	margin-top:20px;
	font-size:10px;
	color:#d3d3d4;
}


/*Wide Portfolio*/

.wide-folio{
	margin-top:-17px;
	margin-bottom:20px;
}

.wide-item{
	margin-bottom:3px;
}

.wide-item .responsive-image{
	margin-bottom:0px;
}

.wide-image{
	max-height:100px;
	overflow:hidden;
}

.wide-item-titles{
	position:relative;
	z-index:99999;
	top:30px;
	margin-bottom:-45px;
	pointer-events:none;
}

.wide-item-titles h4{
	font-family:'Open Sans', sans-serif;
	font-weight:200;
	font-size:18px;
	text-transform:uppercase;
	color:#FFFFFF;
	position:relative;
	z-index:99999;
	text-align:center;
	margin-bottom:5px;
}

.wide-item-titles p{
	color:#FFFFFF;
	margin-bottom:0px;
	color:rgba(255,255,255,0.7);
	text-align:center;
	position:relative;
	z-index:99999;
}

.wide-item-content{
	display:none;
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
}

@media (min-width:760px) { 
	.wide-image{
		max-height:150px;
	}
	
	.wide-item-titles{
		top:55px;
		margin-bottom:-45px;
	}
}


.contact-call{
	padding-top:5px;
	color:#666;
	padding-left:30px;
	background-image:url(../images/misc/contact_phone.png);
	background-position:0px 5px;
	background-repeat:no-repeat;
	background-size:18px 18px;
	height:30px;
	display:block;
}

.contact-text{
	color:#666;
	padding-left:30px;
	background-image:url(../images/misc/contact_message.png);
	background-position:0px 2px;
	background-repeat:no-repeat;
	background-size:18px 18px;
	height:20px;
	display:block;
	margin-bottom:2px;
}

.contact-mail{
	color:#666;
	padding-left:30px;
	background-image:url(../images/misc/contact_mail.png);
	background-position:3px 3px;
	background-repeat:no-repeat;
	background-size:14px 14px;
	height:20px;
	display:block;
	margin-top:5px;
	margin-bottom:2px;
}

.contact-facebook{
	color:#666;
	padding-left:30px;
	background-image:url(../images/misc/contact_facebook.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	background-size:20px 20px;
	height:20px;
	display:block;
	margin-top:5px;
	margin-bottom:2px;
}

.contact-twitter{
	color:#666;
	padding-left:30px;
	background-image:url(../images/misc/contact_twitter.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	background-size:20px 20px;
	height:20px;
	display:block;
	margin-top:5px;
	margin-bottom:2px;
}

/* Sidebar Menu*/

@media(max-width:768px){
	.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1000;
		top: 0px;
		left: 0;
		background-color: rgba(0,0,0,0.9);
		overflow-x: hidden;
		transition: 0.5s;
	}

	.sidenav a {
		padding: 12px 8px 8px 25px;
		text-decoration: none;
		font-size: 14px;
		color: #fff;
		display: block;
		transition: 0.3s;
	}

	.sidenav a:hover {
		color: #f1f1f1;
	}

	.sidenav .closebtn {
		padding: 20px 0px 0px 25px;
		font-size: 36px;	
		color: #ffffff;
	}
	
	.home-promo{
		height:100vh;
	}

}
